.container {
    width: 100%;
    text-align: center;
  }
  .container input {
    width: 65%;
  }
  
  .btn {
    display: flex;
    gap: 0.5%;
    justify-content: center;
  }

  .table {
    width: 50%;
    margin: auto;
  }
  .table tr {
    width: 80%;
    border: 1px solid grey;
  }
  .table tr:hover {
    background-color: #665e5e;
  }
  .table tr th {
    width: 10%;
    border: 1px solid #444343;
  }

  .pagination {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2%;
    text-decoration: none;
    list-style: none;
    margin: auto;
    cursor: pointer;
  }
  
  
  